<!DOCTYPE html>
<html>
    <head>
        <title>{{company_name}} - {{job.title}}</title>
        {%include 'bootstrap.html'%}
    </head>
    <body>
        <div class="container">
            {%include 'nav.html'%}
            {%include 'banner.html'%}
            <h1 class="text-center mt-2 mb-4">{{job.title}}</h1>
            <h2 class="text-center mt-2 mb-4">{{job.requirements}}</h1>
            {%include 'appForm.html'%}
            {%include 'footer.html'%}
        </div>
    </body>
</html>